<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <form action="/profile">
                    <input type="username" name="username" placeholder="Username" required><br>
                    <input type="password" name="password" placeholder="Password" required><br>

                    <a href="/profile"><input type="submit" value="Log in"></a>
                </form>
                <a href="/signup"><input type="submit" value="Sign Up"></a>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</body>

</html>